<!DOCTYPE html>
<html>
    <head th:replace="~{layout/plantilla :: head}" />
    
        <body>
            <header th:replace="~{layout/plantilla :: header}" />
            
            <section th:replace="~{constante/fragmentos :: agregarConstante}"/>
            <section th:replace="~{constante/fragmentos :: listado}"/>   
            <section th:replace="~{constante/fragmentos :: confirmarEliminar}"/>   
            <section th:replace="~{layout/plantilla :: mostrarToast}"/>   
            
            <footer th:replace="~{layout/plantilla :: footer}" />

        </body>

</html>
